btn{
  padding: 10px;
  background-color: blue ; 
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 30%;
  
 }

.container{
 margin: 50px auto;
 width: 450px;
 background: pink;
 
 border-radius: 20px;
box-shadow: 0 0 50px aqua;
}
.second{
text-align:center;
padding:20px 0;
}
.frm{
  backgroung:green;
}
